:root {
    --color-primary-white: #fff;
    --color-primary-blue: #2B7FFF;
    ;
    --color-primary-darkblue: #011C44;

    --color-secondary-darkgrey: #4A4A4A;
    --color-secondary-lightgrey: #747272;
    --color-secondary-darkblue: #011F4A;
    --color-secondary-yellow: #FFD02B;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;